<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Catastrophe</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/aos.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="#"><img src="images/logo.png" alt=""/></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                    </button>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a href="#" class="nav-link">Find a furfriend</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Adopt guide</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- END nav -->
        </header>
        <div class="hero-wrap d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 text-center text-lg-left ftco-animate">
                        <h2 class="text-uppercase text-white mb-5 px-3 px-md-0 mt-5"><strong>Last chance to adopt!</strong></h2>
                        <h3 class="timer text-white mb-4" id="timer">{{ timer | hoursMinutesAndSeconds }}</h3>
                        <a type="button" class="btn btn-primary text-uppercase mb-5" href="#appointment-section">Make appointment now</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="ftco-section services-section">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-12 text-center heading-section ftco-animate">
                        <h2 class="text-orange mb-4 h1 font-weight-bold">Only heroes - adopt.</h2>
                        <p class="offset-md-2 col-md-8 text-center h5 mb-5"><strong>Not all heroes wear capes!</strong> Saving the world is not a job that is only exclusive to comic heroes in new york city...<br/>
                            Now, you can do your part with one paw at a time.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block text-center">
                            <div class="d-flex justify-content-center">
                                <div class="icon"><img src="images/graphic_01.png" alt=""></div>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading text-uppercase">True Companionship</h3>
                                <p>Opening your doors to your new furry friend brings a wholesome new meaning to friendship.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block text-center">
                            <div class="d-flex justify-content-center">
                                <div class="icon"><img src="images/graphic_02.png" alt=""></div>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading text-uppercase">Fulfilling Role</h3>
                                <p>The major side effect of being there for your furry friend is feeling very rewarded when they purr!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block text-center">
                            <div class="d-flex justify-content-center">
                                <div class="icon"><img src="images/graphic_03.png" alt=""></div>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading text-uppercase">Loving Community</h3>
                                <p>You will be part of a huge and growing community of adopters, worldwide, to share your experiences!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ftco-section hall-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center text-lg-left heading-section ftco-animate">
                        <h2 class="mb-4 h1 font-weight-bold text-dark-blue">Hall of meows.</h2>
                        <p class="h5 mb-5 text-blue">Featured felines of the week!</p>
                    </div>
                </div>
                <div class="row gallery-images">
                    <div class="col-12 col-xl-6 text-center text-lg-left">
                        <div class="row">
                            <div class="col col-lg-3 gallery-container m-3">
                                <img src="images/gallery_01.png" class="ftco-animate" alt="">
                            </div>
                            <div class="col col-lg-3 gallery-container m-3">
                                <img src="images/gallery_02.png" class="ftco-animate" alt="">
                            </div>
                            <div class="col col-lg-3 gallery-container m-3">
                                <img src="images/gallery_03.png" class="ftco-animate" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-3 gallery-container m-3">
                                <img src="images/gallery_04.png" class="ftco-animate" alt="">
                            </div>
                            <div class="col col-lg-3 gallery-container m-3">
                                <img src="images/gallery_05.png" class="ftco-animate" alt="">
                            </div>
                            <div class="col col-lg-3 gallery-container m-3">
                                <img src="images/gallery_06.png" class="ftco-animate" alt="">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary text-uppercase mt-5 mb-5">Browse more</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="ftco-section adopting-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col col-lg-10 offset-lg-2 text-center text-lg-left heading-section ftco-animate">
                        <h2 class="mb-4 h1 font-weight-bold text-white">Adopting 101</h2>
                        <p class="h5 mb-5 text-gray"><strong>Class is in session!</strong> Here's a basic guide of what you would probably want to have along with you at our adoption center:</p>
                        <p>
                        <ul class="text-gray adopting-list text-left">
                            <li><span class="text-yellow text-uppercase">An open mind</span> <small>Not all furry creatures are alike!</small></li>
                            <li><span class="text-yellow text-uppercase">Comfortable shoes</span> <small>You'll be on your feet all day, trust us!</small></li>
                            <li><span class="text-yellow text-uppercase">Mobile phone</span> <small>To take pictures of your potential furry companion, of course!</small></li>
                        </ul>
                        <div class="text-center text-lg-left">
                            <button type="button" class="btn btn-primary text-uppercase mt-5 mb-5">Let's adopt</button>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div id="appointment-section"></div>
        <section class="ftco-section appointment-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col col-lg-10 offset-lg-2 text-center text-lg-left heading-section ftco-animate">
                        <h2 class="mb-2 h1 font-weight-bold text-white">Make an Appointment</h2>
                        <p class="h4 mb-5 text-flesh"><strong>Time is gold!</strong> Make appointment to prevent disappointment!</p>
                        <form class="row" id="formSubmit">
                            <div id="datePicker" class="col-12 col-md-5 mb-3">
                                <v-date-picker :mode='mode' v-model='selectedDate' :input-props='{placeholder: "Date & time", readonly: true}' :value="datetime" />
                            </div>
                            <div id="stateBranch" class="col-12 col-md-6 d-flex">
                                <select v-model="selectedState" class="col mr-3">
                                    <option value="" disabled selected hidden>State</option>
                                    <option  v-for="state in states" :value="state">{{ state.label }}</option>
                                </select>
                                <select v-model="selectedBranch" class="col">
                                    <option value="" disabled selected hidden>Branch</option>
                                    <option  v-for="branch in selectedState.branches" :value="branch">{{ branch }}</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-primary text-uppercase mx-auto mt-5 mb-5">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer class="ftco-footer ftco-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 col-lg-6 heading-section ftco-animate">
                        <h2 class="mb-1 h1 font-weight-bold text-white text-center text-lg-left">Extra hands?</h2>
                        <p class="h4 mb-5 text-yellow text-center text-lg-left">YES please! Be a volunteer today:</p>
                    </div>
                    <div class="col-12 col-lg-5 d-flex flex-column flex-md-row align-items-center ftco-animate">
                        <input type="email" placeholder="youremail@address.com" class="email-input col-md-9" />
                        <button type="button" class="btn btn-primary text-uppercase mt-4 mt-md-0 mx-auto text-center ml-md-3 help-btn">I want to help</button>
                    </div>
                </div>
                <div class="row border-top-purple pt-5">
                    <div class="col-12 col-lg-6 text-center text-lg-left">
                        <p class="text-purple copyright">&copy; The Catastrophe</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="d-inline d-lg-flex justify-content-between text-center justify-content-lg-end footer-links pl-0">
                            <li class="ml-auto mr-auto">
                                <a class="text-purple text-uppercase font-weight-bold" href="#">FAQs</a>
                            </li>
                            <li class="ml-auto mr-auto">
                                <a class="text-purple text-uppercase font-weight-bold" href="#">Privacy Policy</a>
                            </li>
                            <li class="ml-auto">
                                <a class="text-purple text-uppercase font-weight-bold" href="#">Legal Notices</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen">
            <svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
            </svg>
        </div>
        <!-- UI scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/scrollax.min.js"></script>
        <script src="js/main.js"></script>
        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src='https://unpkg.com/v-calendar'></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>